In [1]:
#Importing pandas and numpy
import pandas as pd
import numpy as np

In [2]:
#loading the firts dataset from my folder documents
file_path = r"C:\Users\myloc\OneDrive\Documents\Dataset one.csv"
df = pd.read_csv(file_path)

In [ ]:
#exploring the data for the first fime

In [3]:
#checking out the first 10 rows and columns
df.head(10)

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional
5   9944      functional
6  19816  non functional
7  54551  non functional
8  53934  non functional
9  46144      functional

In [4]:
#cheking out the total number of missing values
df.isna().sum()

id              0
status_group    0
dtype: int64

In [9]:
#calculating the index both columns and rows to see if they match
df.count()

id              59400
status_group    59400
dtype: int64

In [11]:
#exploring to see our last five rows in the dataset
df.tail()

          id status_group
59395  60739   functional
59396  27263   functional
59397  37057   functional
59398  31282   functional
59399  26348   functional

In [13]:
#df.describe()

In [15]:
#getting python to calculate the total status of values in the columns 
status_counts = df['status_group'].value_counts()

print(status_counts)

status_group
functional                 32259
non functional             22824
functional needs repair     4317
Name: count, dtype: int64

In [ ]:
#CONCLUSION: No missing values/irregularities in the datase